@import "vars";

// Значения по умолчиню
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Merriweather Sans";
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
}

.center {
    padding-left: calc(50% - $mainWidth / 2);
    padding-right: calc(50% - $mainWidth / 2);
}

.container {
    max-width: $mainWidth;
    --bs-gutter-x: none;
    --bs-gutter-y: none;
}

.padding-left {
    padding-left: 5px;
}

.padding-right {
    padding-right: 5px;
}

// основной блок стилизации
// Блок header
.header {
    max-width: $maxWidth;
    background-color: #f6f6f6;
    margin-bottom: 16px;

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 27px;

        &__items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            font-size: 11px;
            color: #7e7e7e;

            // корректировка бутсрапа для моей страницы
            margin-bottom: 0;
            padding-left: 0;
        }

        &__item {
            list-style: none;
            margin: 0;
        }

        &__link {
            color: $colorMainAccount;
        }
    }
}

// блок поиска
.find {
    margin-bottom: 25px;

    &__box {
        display: flex;
        justify-content: flex-end;
    }

    &__left {
        display: flex;
    }
}

// блок главной навигации и ЛОГОТИП
.navigation {
    padding-bottom: 20px;

    .navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__logo {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &__logo-text {
            font-size: 44px;
            font-weight: 700;
            color: #454545;
        }

        &__items {
            display: flex;
            gap: 50px;
            list-style: none;
        }

        &__link {
            color: $colorMainMenu;
        }
    }
}

// блок hero
.hero {
    max-height: $heightBlockHero;
    background-color: $bgMainColor;

    // display: grid;
    // grid-template-columns: 1fr 1fr;

    position: relative;

    &__img {
        width: 100%;
    }

    &__content {
        // grid-column: 2;
        top: 358px;
        position: absolute;
        right: 200px;
        margin: 0 auto;
    }

    &__items {
        width: 460px;
    }

    &__text {
        font-family: 'Cousine';
        font-size: 30px;
        line-height: 20px;
        font-weight: 700;
        color: #555555;
        padding-bottom: 18px;
    }

    &__title {
        font-size: 100px;
        line-height: 80px;
        font-weight: 800;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
        color: $colorMainSite;
        padding-bottom: 18px;
    }

    &__subtitle {
        font-family: 'Roboto Condensed';
        font-size: 35px;
        line-height: 33px;
        font-weight: 700;
        color: #4c4c4c;
        padding-bottom: 28px;
    }

    &__link {
        line-height: 21px;
        font-weight: 700;
        color: #333333;
        cursor: pointer;
    }
}

// переопределение стилей пагинации в карусели
.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    border-top: none;
    border-bottom: none;
    border-radius: 8px;
}

// блок Offers
.offers {
    display: block;
    padding: 60px 0 60px 0;
    background-color: #f3f3f3;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__item {
        background-color: $bgMainColor;
    }

    &__item-a {
        min-width: 770px;
        min-height: 430px;
        grid-column: 1 / 3;
        position: relative;
    }

    &__item-b {
        grid-row: 1 / 3;
        grid-column: 3/4;
        width: 370px;
        height: 710px;
    }

    &__item-c,
    &__item-e,
    &__item-f {
        width: 370px;
        height: 250px;
    }

    &__item-d {
        width: 370px;
        height: 530px;
        grid-column: 2 /3;
        grid-row: 2 / 4;
    }

    // блок offers__item-a текст под каруселью
    &__info {
        position: absolute;
        z-index: 1;

        top: 20%;
        left: 20%;
        right: 20%;
    }

    &__title {
        font-family: 'Cousine';
        font-size: 40px;
        line-height: 21px;
        font-weight: 700;
        color: $colorMainSite;
        margin-bottom: 0;
    }

    &__block {
        background-color: rgba(0, 0, 0, 0.0);
        border: 1px solid rgba(255, 255, 255, 0.29);
        padding: 72px 33px;
    }

    &__header {
        display: flex;
        justify-content: center;
    }

    &__span {
        border-bottom: 3px solid white;
        width: 101px;
        display: block;
    }

    &__text {
        font-family: 'Roboto Condensed';
        font-size: 25px;
        line-height: 40px;
        color: $colorMainSite;
        margin-bottom: 0;
        text-align: center;
        padding-top: 20px;
    }

    &__link {
        display: block;
        text-align: center;
        line-height: 21px;
        font-weight: 700;
        color: $colorMainSite;
        padding-top: 48px;
    }

    // блок offers__item-c текст 
    &__item-c {
        position: relative;
    }

    &__info_c {
        top: 30%;
        left: 5%;
        right: 5%;
    }

    &__title_c {
        font-family: 'Merriweather Sans';
        font-size: 40px;
        line-height: 22px;
        font-weight: 700;
        color: $colorMainSite;
    }

    &__text_c {
        font-family: 'Roboto Condensed';
        font-size: 23px;
        line-height: 22px;
        font-weight: 700;
        color: $colorMainSite;

    }

    // блок offers__item-e текст 
    &__item-e {
        position: relative;
    }

    &__info_e {
        top: 30%;
        left: 5%;
        right: 5%;
    }

    &__title_e {
        font-family: 'Merriweather Sans';
        font-size: 30px;
        line-height: 22px;
        font-weight: 800;
        color: $colorMainSite;
    }

    &__text_e {
        font-family: 'Roboto Condensed';
        font-size: 25px;
        line-height: 22px;
        color: $colorMainSite;
    }

    &__span_e {
        width: 50px;
    }
}


// &__info_c {
//     top: 30%;
//     left: 5%;
//     right: 5%;
// }

// &__title_c {
//     font-family: 'Merriweather Sans';
//     font-size: 40px;
//     line-height: 22px;
//     font-weight: 700;
//     color: $colorMainSite;
// }

// &__text_c {
//     font-family: 'Roboto Condensed';
//     font-size: 23px;
//     line-height: 22px;
//     font-weight: 700;
//     color: $colorMainSite;

// }