@import "vars";

// Значения по умолчиню
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Merriweather Sans";
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
}

.center {
    padding-left: calc(50% - $mainWidth / 2);
    padding-right: calc(50% - $mainWidth / 2);
}

.container {
    max-width: $mainWidth;
    --bs-gutter-x: none;
    --bs-gutter-y: none;
}

.padding-left {
    padding-left: 5px;
}

// основной блок стилизации
// Блок header
.header {
    max-width: $maxWidth;
    background-color: #f6f6f6;
    margin-bottom: 16px;

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 27px;

        &__items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            font-size: 11px;
            color: #7e7e7e;

            // корректировка бутсрапа для моей страницы
            margin-bottom: 0;
            padding-left: 0;
        }

        &__item {
            list-style: none;
            margin: 0;
        }

        &__link {
            color: $colorMainAccount;
        }
    }
}

// блок поиска
.find {
    margin-bottom: 25px;

    &__box {
        display: flex;
        justify-content: flex-end;
    }

    &__left {
        display: flex;
    }
}

// блок главной навигации и ЛОГОТИП
.navigation {
    padding-bottom: 20px;

    .navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__logo {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &__logo-text {
            font-size: 44px;
            font-weight: 700;
            color: #454545;
        }

        &__items {
            display: flex;
            gap: 50px;
            list-style: none;
        }

        &__link {
            color: $colorMainMenu;
        }
    }
}

// блок hero
.hero {
    max-height: $heightBlockHero;
    background-color: $bgMainColor;

    // display: grid;
    // grid-template-columns: 1fr 1fr;

    position: relative;

    &__img {
        width: 100%;
    }

    &__content {
        // grid-column: 2;
        top: 358px;
        position: absolute;
        right: 200px;
        margin: 0 auto;
    }

    &__items {
        width: 460px;
    }

    &__text {
        font-family: 'Cousine';
        font-size: 30px;
        line-height: 20px;
        font-weight: 700;
        color: #555555;
        padding-bottom: 18px;
    }

    &__title {
        font-size: 100px;
        line-height: 80px;
        font-weight: 800;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
        color: $colorMainSite;
        padding-bottom: 18px;
    }

    &__subtitle {
        font-family: 'Roboto Condensed';
        font-size: 35px;
        line-height: 33px;
        font-weight: 700;
        color: #4c4c4c;
        padding-bottom: 28px;
    }

    &__link {
        line-height: 21px;
        font-weight: 700;
        color: #333333;
        cursor: pointer;
    }
}

// переопределение стилей пагинации в карусели
.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    border-top: none;
    border-bottom: none;
    border-radius: 8px;
}

// блок Offers
.offers {
    padding-top: 60px;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        gap: 30px;
    }

    &__item {
        background-color: $bgMainColor;
    }

    &__item-a {
        min-width: 770px;
        min-height: 430px;
        grid-column: 1 / 3;
    }
}